.DS_Store
/.phpunit.cache
.php-cs-fixer.cache
/node_modules
/vendor
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

cfg/*
tmp/*
logs/*
dist/*
!dist/.htaccess
!dist/index.php

!**/*/.gitkeep